########################################################################
# Patch configuration file to use a 3D TV in a variety of stereo modes.
# Pre-configured for a 55" passive-stereo 3D TV placed on a desk.
# Copyright (c) 2013 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui
	section Desktop
		displayCenter (0.0, 0.0, 43.5)
		displaySize 27.5
		floorPlane (0.0, 0.0, 1.0), 0.0
		glyphSize 1.0
		newInputDevicePosition (0.0, -3.0, 43.5)
		drawOverlayWidgets false
		uiSize 0.2
		uiFontTextHeight 0.4
		uiSliderWidth 0.6
		
		section MouseAdapter
			fakeMouseCursor true
		endsection
		
		section Viewer
			headDeviceTransformation translate (0.0, -36.0, 43.5)
			
			leftEyePosition (-1.25, 0.0, 0.0)
			rightEyePosition (1.25, 0.0, 0.0)
		endsection
		
		section Screen
			origin (-24.0, 0.0, 30.0)
			width 48.0
			height 27.0
		endsection
		
		section Listener
			headDeviceTransformation translate (0.0, -36.0, 43.5)
		endsection
		
		section Window
			windowPos (0, 0), (1920, 1080)
			windowFullscreen false
			decorated false
			
			# Vertically-interleaved stereo for passive-stereo 3D TVs:
			windowType InterleavedViewportStereo
			interleavePattern RRLL
			
			# Quincunx (checkerboard) stereo for active-stereo 3D TVs:
			# windowType InterleavedViewportStereo
			# interleavePattern LRRL
			
			# Top-and-bottom stereo for active-stereo 3D TVs:
			# windowType SplitViewportStereo
			# leftViewportPos (0, 540), (1920, 540)
			# rightViewportPos (0, 0), (1920, 540)
			
			autoScreenSize false
			panningViewport false
			navigate false
			movePrimaryWidgets false
			toolKillZonePos (1, 0)
		endsection
		
		section Tools
			killZoneSize (4.0, 0.1, 1.5)
			
			section MouseSurfaceNavigationTool
				rotateFactor 12.0
				scaleFactor 12.0
			endsection
			
			section MouseNavigationTool
				rotatePlaneOffset 6.0
				rotateFactor 12.0
				scaleFactor 12.0
			endsection
			
			section MouseDialogNavigationTool
				rotatePlaneOffset 6.0
				rotateFactor 12.0
				scaleFactor 12.0
			endsection
		endsection
	endsection
endsection
