########################################################################
# Patch configuration file to use a 6-DOF electromagnetically tracked
# Razer Hydra as an additional input device, set up to be used in
# conjunction with an Oculus Rift head-mounted display as configured in
# OculusRift.cfg.
# Copyright (c) 2013 Oliver Kreylos
#
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

########################################################################
# Default tool assignments:
# - Top right button of left handle and top left button of right handle
#   navigate using two-handed 6-DOF navigation.
# - Bottom right button of left handle and bottom left button of right
#   handle interact with GUI elements and pop up an application's main
#   menu.
# - Joysticks on left and right handles fly and turn.
########################################################################

section Vrui
	section Desktop
		inputDeviceAdapterNames += (DeviceDaemonAdapter)
		
		drawOverlayWidgets false
		popWidgetsOnScreen false
		
		section DeviceDaemonAdapter
			inputDeviceAdapterType DeviceDaemon
			serverName localhost
			serverPort 8555
			inputDeviceNames +=(RazerHydraLeft, RazerHydraRight)
			
			section RazerHydraLeft
				deviceGlyphType Cone
			endsection
			
			section RazerHydraRight
				deviceGlyphType Cone
			endsection
		endsection
		
		section Tools
			toolClassNames += (SixDofNavigationTool, \
			                   ScaleNavigationTool, \
			                   ValuatorScalingNavigationTool, \
			                   WandNavigationTool, \
			                   TwoHandedNavigationTool, \
			                   FlyNavigationTool, \
			                   ValuatorFlyNavigationTool, \
			                   ValuatorTurnNavigationTool, \
			                   ValuatorFlyTurnNavigationTool, \
			                   SixDofInputDeviceTool, \
			                   QuikWriteTool)
			
			section UserInterfaceTool
				useEyeRay false
				drawRay true
			endsection
			
			section DefaultTools
				section RHTool1
					toolClass TwoHandedNavigationTool
					bindings ((RazerHydraLeft, 4), (RazerHydraRight, 3))
				endsection
				
				section RHTool2
					toolClass WidgetTool
					bindings ((RazerHydraLeft, 2))
				endsection
				
				section RHTool3
					toolClass RayMenuTool
					bindings ((RazerHydraLeft, 2))
				endsection
				
				section RHTool4
					toolClass WidgetTool
					bindings ((RazerHydraRight, 1))
				endsection
				
				section RHTool5
					toolClass RayMenuTool
					bindings ((RazerHydraRight, 1))
				endsection
				
				section RHTool6
					toolClass ValuatorFlyTurnNavigationTool
					bindings ((RazerHydraLeft, StickY, StickX))
				endsection
				
				section RHTool7
					toolClass ValuatorFlyTurnNavigationTool
					bindings ((RazerHydraRight, StickY, StickX))
				endsection
			endsection
		endsection
	endsection
endsection
