########################################################################
# Patch configuration file to use a Logitech/3DConnexion SpaceTraveler
# (8-button 6-axis space ball) as an additional input device.
# Copyright (c) 2009-2010 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui
	
	section Desktop
		inputDeviceAdapterNames (MouseAdapter, HIDAdapter)
		
		section HIDAdapter
			inputDeviceAdapterType HID
			inputDeviceNames (SpaceTraveler)
			
			section SpaceTraveler
				name SpaceTraveler
				deviceVendorProductId 046d:c623
				# Need custom settings since the device lies about its axes:
				axis0Settings (-350.0, -15.0, 15.0 350.0)
				axis1Settings (-350.0, -15.0, 15.0 350.0)
				axis2Settings (-350.0, -15.0, 15.0 350.0)
				axis3Settings (-350.0, -15.0, 15.0 350.0)
				axis4Settings (-350.0, -15.0, 15.0 350.0)
				axis5Settings (-350.0, -15.0, 15.0 350.0)
				buttonNames (1, 2, 3, 4, 5, 6, 7, 8)
				valuatorNames (LinX, LinY, LinZ, RotX, RotY, RotZ)
			endsection
		endsection
		
		section Tools
			section DefaultTools
				# Use button 1 to toggle between controlling a virtual 3D input device and navigating:
				section SpaceTravelerTool1
					toolClass ShiftButtonTool
					bindings ((SpaceTraveler, 1, LinX, LinY, LinZ, RotX, RotY, RotZ))
					toggle true
					resetFeatures true
				endsection
				
				# Use button 7 to switch between dollying and zooming when navigating:
				section SpaceTravelerTool2
					toolClass ShiftButtonTool
					bindings ((SpaceTraveler, 7), (ForwardedDevice0, Valuator7))
					resetFeatures true
				endsection
				
				# Create the virtual input device, using button 2 to reset to home, and buttons 3-7 for tools:
				section SpaceTravelerTool3
					toolClass SixAxisTransformTool
					bindings ((SpaceTraveler, 2, 3, 4, 5, 6, 7), \
					          (ForwardedDevice0, Valuator0, Valuator1, Valuator2, Valuator3, Valuator4, Valuator5))
				endsection
				
				# Create the navigation tool:
				section SpaceTravelerTool4
					toolClass SixAxisNavigationTool
					bindings ((ForwardedDevice0, Valuator6), (ForwardedDevice1, Valuator0), \
					          (ForwardedDevice0, Valuator8, Valuator9, Valuator10, Valuator11), \
					          (ForwardedDevice1, Valuator1))
				endsection
			endsection
		endsection
	endsection
	
endsection
